WSO2 CAS Plugin Proxy Support Missing

Issue with CAS Protocol Proxy Support. Not fully implemented as per Specification.
We need support.

https://apereo.github.io/cas/4.2.x/protocol/CAS-Protocol-Specification.html

/serviceValidate        [  service ticket validation [CAS 2.0]  ]
----------------------------------------------------------------------
1) No support for pgtUrl [OPTIONAL] 
- the URL of the proxy callback. Discussed in Section 2.5.4. As a HTTP request parameter, the “pgtUrl” value MUST be URL-encoded as described in Section 2.2 of RFC 1738 [4].

2) Response doesn't contain
<cas:proxyGrantingTicket>PGT...</cas:proxyGrantingTicket>

/proxyValidate          [  service/proxy ticket validation [CAS 2.0]  ]
----------------------------------------------------------------------
1) No support for pgtUrl [OPTIONAL] 
- the URL of the proxy callback. Discussed in Section 2.5.4. As a HTTP request parameter, the “pgtUrl” value MUST be URL-encoded as described in Section 2.2 of RFC 1738 [4].

2) Response doesn't contain
<cas:proxyGrantingTicket>PGT...</cas:proxyGrantingTicket>

3) Response doesn't contain
<cas:proxies>
        <cas:proxy>https://proxy2/pgtUrl</cas:proxy>
        <cas:proxy>https://proxy1/pgtUrl</cas:proxy>
</cas:proxies>

/proxy                  [  proxy ticket service [CAS 2.0]  ]
----------------------------------------------------------------------
Not implemented

/p3/serviceValidate     [  service ticket validation [CAS 3.0]  ]
----------------------------------------------------------------------
Not implemented

/p3/proxyValidate       [  service/proxy ticket validation [CAS 3.0]  ]
----------------------------------------------------------------------
Not implemented